
<script>

function startSimulation() {
console.log("Click handler called");
    $.ajax({
        url: '/sb/simulation',
        type: 'get'
    });
}

</script>


<div>
   <button onClick="startSimulation()">Start simulation</button>
</div>


<canvas id="txBubbleChartElement" width="400" height="400"></canvas>

<canvas id="walletBarChartElement" width="400" height="400"></canvas>


<div id="messages"></div>



<!--<input id="chat-input" type="text"/>-->
